{% extends 'base.html' %}

{% block main %}

    <ul class="option">
        <li><a href="category/">分类</a></li>
        <li><a href="who/">我是谁</a></li>
        <li><a href="contact/">联络码</a></li>
    </ul>

    {% if error_msg %}
        <p>{{ error_msg }}</p>
    {% endif %}

    {% for post in post_list %}
        <article>
            <a class="article-name" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            <span class="post-time">{{ post.created_time }}</span>
        </article>

        <hr class="article-hr" />
    {% empty %}
        <div class="no-post">暂时还没有发布的文章！</div>
    {% endfor %}

{% endblock main %}
