{% extends 'base.html' %}

{% block main %}
    <div class="who-box">
        <h4>Lcarusd</h4>
        <p>
            我是Lcarusd，在网络上我通常喜欢以这个名字自称，
            他取自希腊神话中的人物——Lcarus，中文译作伊卡洛斯。
        </p>

        <p>
            相传，伊卡洛斯与父亲代达罗斯使用蜡和羽毛制造的翼逃离克里特岛时，不顾父亲劝阻，因飞得太高，
            双翼上的蜡遭太阳融化跌落水中丧生，埋葬在以他的名字命名的伊卡利亚岛上。
        </p>

        <p>
            伊卡洛斯的命运悲剧，时常使我想起刻写在德尔菲神庙的神谕：<strong>认识你自己</strong>。人生而自由，却无时不存在于生命的迷楼中，
            伊卡洛斯向着太阳矢志飞出迷楼，但终究折翼坠海，以理想之死殉自然之道，这当然符合希腊人对卓越的要求。
        </p>

        <p>
            我喜欢伊卡洛斯，在那些停下来反观自身的时刻，认识自己是艰难困苦的，他的殉道总让我壮怀激烈。
            但以死殉道难，以生殉道更难，伊卡洛斯于我不是准则，而是精神印记，我更倾向意义产生于实践中。
            带着这样的精神印记在实践中寻找意义，一直都成为我对自己的期许。
        </p>

        <br>

        <h4>Lcarusd Past Intentions</h4>
        <p>
            Past Intentions，意即过去的意图，这是我为这个Blog取的名字，也是对其所表达全部内容的概括。
            毕加索晚年提到，创作带有太多当时的意图，来自那个时代，那个状态，每个人都身处其中。
            我不敢武断的定义当时的意图所指就是情绪，他一定有比情绪更本真的内核，
            但我知道被误会不是表达者的宿命，而<strong>仅仅来自过去的意图</strong>，每一个过去的意图，都连接现在，现在就是永恒。
        </p>

        <br>

        <h4>Less is More</h4>

        <p>
            与其说少即是多，不如说所见即所得。
            这个Blog历时一周独立开发上线，其中有许多技术埋点需要处理，可它所提供的功能仅有写作与被阅读，从来如此。
            从技术的角度看，发力点应是写作与阅读体验的迭代优化，而不是业务功能集成累加；
            从内容的角度看，我坚持认为所看到的一切都是真实的。
        </p>
    </div>
{% endblock main %}
